<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/process}" th:object="${course}"
          method="post">
        <input type="hidden" th:field="*{id}"/>

        Title: <input type="text" th:field="*{title}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>

        Instructor: <input type="text" th:field="*{instructor}"/>
        <span th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}"></span><br/>

        Description: <input type="text" th:field="*{description}"/>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>

        Credits: <input type="text" th:field="*{credit}"/>
        <span th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></span><br/>

        <input type="submit" value="Submit"/>
    </form>
</body>
</html>