<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/">Show all Courses</a><br/>

    Title: <span th:text="${course.title}"></span><br/>
    Instructor: <span th:text="${course.instructor}"></span><br/>
    Description: <span th:text="${course.description}"></span><br/>
    Credits: <span th:text="${course.credit}"></span><br/>
    <a th:href="@{/delete/{id}(id=${course.id})}">Delete this course</a>
</body>
</html>